@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.reading-data {

  
  .configurations {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  .speed-data-header {
    font-size: 30px;
  }

  // MAY BE ABLE TO MOVE THE FONT FAMILY TO GLOBAL VIEW
  h1, input, textarea {
    font-family: 'Montserrat', 'sans-serif';
  }

  input, textarea {
    width: 60%;
    height: 20px;
    font-size: 1.2em;
    text-align: center;
    border: 0;
    border-radius: 18px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #323333;
    color: #687f7f;
    opacity: 0.8;
    transition: opacity 1s, box-shadow 0.5s;
  }
  
  textarea {
    width: 35%;
    height: 200px;
    text-align: left;
  }

  input:hover, textarea:hover {
    font-weight: 400;
    box-shadow: 5px 5px 5px aqua;
    opacity: 1;
    transition: opacity 1s, box-shadow 0.5s;
  }
  
  button {
    cursor: pointer;
    border: 3px solid black;
    border-radius: 25px;
    padding: 8px;
    font-size: 24px;
    background-color: cornflowerblue;
    font-family: 'Bungee', 'sans-serif';
  }

  button:active {
    opacity: 0.5
  }

  input:focus, textarea:focus, button:focus {
    outline: none;
  }

}
