@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@mixin phone-size {
  @media (max-width: 600px) { @content; };
}

@mixin desktop {
  @media (min-width: 601px) { @content; };
}

.reading-data {

  .display-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .configurations {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    // max-width: 900px;
    // margin: 0 auto;

    @include phone-size {
      flex-direction: column;
    }
  }

  .speed-data-header {
    color: rgba(0,0,0,0.7);
    font-size: 1.8em;
  }

  .info-card {
    font-family: 'Bungee';
    font-size: 1.5em;
    color: rgba(0,0,0,0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .setting {
    font-family: 'Bungee';
    color: rgba(0,0,0,0.3);
  }

  .setting-header {
    color: rgba(0,0,0,0.7);
    font-size: 1.4em;
  }
  
  .instructions {
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', 'sans-serif';
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
    margin-left: 23%;

    p {
      margin-right: 5%;
    }
  }

  
  section {
    @include desktop {
      max-width: 300px;
      max-height: 200px;
      margin: 0 auto;
    }
  }

  // MAY BE ABLE TO MOVE THE FONT FAMILY TO GLOBAL VIEW
  h1, input, textarea {
    font-family: 'Montserrat', 'sans-serif';
  }

  input, textarea {
    text-align: center;
    border: 0;
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #323333;
    color: #687f7f;
    opacity: 0.8;
    transition: opacity 1s, box-shadow 0.5s;
    
  }
  
  input {
    width: 60%;
    height: 20px;
    font-size: 1.2em;
    @include phone-size {
      width: 50%;
    }
  }
  
  textarea {
    height: 100%;
    font-size: 0.85em;
    text-align: left;

    @include phone-size {
      width: 82%;
    }
  }

  input:hover, textarea:hover {
    font-weight: 400;
    box-shadow: 5px 5px 5px aqua;
    opacity: 1;
    transition: opacity 1s, box-shadow 0.5s;
  }

  input:focus, textarea:focus, button:focus {
    outline: none;
  }

}
